1. A neural network is a type of deep machine learning algorithm that tries to mimic the human brain and the way a human thinks. It is made of interconnected nodes (perceptrons) that process the data in layers similar to how a person makes decisions. The neural network can learn from its mistakes and improve. A neural network is made by importing a dataset to train the neural network on, choosing an activation function that allows data to move between layers, selecting the amount of layers, training the network on the dataset, and optimizing until you are satisfied with the performance.

2. A neural network's performance is evaluated with the loss function. This function measures the difference between the model's predictions and the actual values. The loss value is that difference, and the best models will have the smallest loss value possible.

In [33]:
import pandas as pd
import numpy as np
import torch
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import torch.nn as nn
import torch.nn.functional as F
from sklearn.metrics import ConfusionMatrixDisplay

In [34]:
creditcard_df = pd.read_csv('Credit_Card.csv')
label_df = pd.read_csv('Credit_card_label.csv')
creditcard_df = pd.merge(creditcard_df, label_df, on='Ind_ID')

creditcard_df = creditcard_df.drop(['Type_Occupation'], axis=1)
creditcard_df = creditcard_df.dropna()

enc = LabelEncoder()

def encoder(column):
    creditcard_df[column] = enc.fit_transform(creditcard_df[column])

encoder('GENDER')
encoder('Car_Owner')
encoder('Propert_Owner')
encoder('Type_Income')
encoder('EDUCATION')
encoder('Marital_status')
encoder('Housing_type')

creditcard_df.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Family_Members,label
0,5008827,1,1,1,0,180000.0,1,1,1,1,-18772.0,365243,1,0,0,0,2,1
1,5009744,0,1,0,0,315000.0,0,1,1,1,-13557.0,-586,1,1,1,0,2,1
4,5009752,0,1,0,0,315000.0,0,1,1,1,-13557.0,-586,1,1,1,0,2,1
6,5009754,0,1,0,0,315000.0,0,1,1,1,-13557.0,-586,1,1,1,0,2,1
7,5009894,0,0,0,0,180000.0,1,4,1,1,-22134.0,365243,1,0,0,0,2,1

In [35]:
x = creditcard_df.drop('label', axis=1)
y = creditcard_df['label']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42, stratify=y)

In [36]:
x_train = torch.FloatTensor(x_train)
x_test = torch.FloatTensor(x_test)

y_test = torch.LongTensor(y_test)
y_train = torch.LongTensor(y_train)

ValueError: could not determine the shape of object type 'DataFrame'

I don't know what the above error is, this code worked in class