1. Inductive reasoning is the strategy of making generalizations from the bottom up, and deductive reasoning is using existing evidence and facts to come to a conclusion. For example, deductive reasoning would be to pull from my wallet a small copper coin with Abraham Lincoln on it, remember that those are the features of a penny, and conclude that it is a penny. Inductive reasoning would be to pull penny after penny from my wallet, notice that they all have Abraham Lincoln on them, and conclude that all pennies must have Abraham Lincoln on them.

In [22]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

rawdata = pd.read_csv('adult.csv', sep=',')
rawdata.head()

   Unnamed: 0  39          State-gov   77516  ...  0   40   United-States   <=50K
0           0  50   Self-emp-not-inc   83311  ...  0   13   United-States   <=50K
1           1  38            Private  215646  ...  0   40   United-States   <=50K
2           2  53            Private  234721  ...  0   40   United-States   <=50K
3           3  28            Private  338409  ...  0   40            Cuba   <=50K
4           4  37            Private  284582  ...  0   40   United-States   <=50K

[5 rows x 16 columns]

In [19]:
#i'm gonna be completely honest here, i have no idea what's wrong with this data table 
#or why its displaying like that
#in a perfect world my code would work but the file was in a .data format so idk

one_hot = pd.get_dummies(rawdata[' Bachelors'], rawdata['White'], rawdata['Male'])
incomedata = pd.concat([rawdata, one_hot], axis=1)
incomedata = incomedata.drop( axis=1)

KeyError: 'White'

In [24]:
x = incomedata.drop[' <=50k']
y = incomedata[' <=50K']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
clf = DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
tree.plot_tree(clf)

TypeError: 'method' object is not subscriptable

In [23]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)

NameError: name 'x_train' is not defined