In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.747860,-88.023980,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.748320,-88.024740,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.732210,-88.038240,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.521140,-88.369260,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.741660,-88.023950,Entire home/apt,343,1,30,3/18/2020,0.64,22,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365

In [6]:
neighbourhoods = belize_df.groupby('neighbourhood')
neighbourhoods.first()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Belize Islands,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
Belize Mainland,265173,D'Nest Inn ( Kiskadee Nest).,1391098,Gabriel,Belize,17.50709,-88.22189,Hotel room,133,1,113,8/1/2019,1.13,3,331
Cayo,152922,rent a private room in a house,735525,Jennifer,Cayo,17.25395,-88.76870,Private room,52,1,11,12/14/2019,0.18,1,364
Corozal,736308,Beautiful Waterfront Casita! Belize is Open!,3843219,Karen & Pernell,Corozal,18.32931,-88.32932,Entire home/apt,260,1,37,2/18/2021,0.42,1,365
Orange Walk,3594049,El Gran Mestizo premium romantic riverside cabin,18105807,Orlando,Orange Walk,18.06982,-88.55494,Entire home/apt,161,1,41,3/12/2020,0.54,3,365
Stann Creek Islands,18110861,Belize Private Island- Little Peter Oasis,124771795,Jason,Stann Creek,16.71990,-88.16474,Entire home/apt,2922,4,35,12/1/2020,0.81,1,188
Stann Creek Mainland,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
Toledo Mainland,124794,Sabal Beach - secluded eco-retreat,562206,David & Wayne,Toledo,16.28752,-88.54550,Entire home/apt,232,3,18,1/12/2020,0.16,2,338

In [7]:
nbh_price = neighbourhoods[['price']].mean()
nbh_price

                            price
neighbourhood
Belize Islands         399.442824
Belize Mainland        288.273063
Cayo                   205.847525
Corozal                156.553846
Orange Walk            122.035714
Stann Creek Islands   1136.166667
Stann Creek Mainland   456.994690
Toledo Mainland        222.978723

In [8]:
nbh_reviews = neighbourhoods[['number_of_reviews']].sum()
nbh_reviews

                      number_of_reviews
neighbourhood
Belize Islands                    22995
Belize Mainland                    4105
Cayo                               7356
Corozal                             492
Orange Walk                         415
Stann Creek Islands                  69
Stann Creek Mainland               4786
Toledo Mainland                     194

In [9]:
nbh_available = neighbourhoods[['availability_365']].max()
nbh_available

                      availability_365
neighbourhood
Belize Islands                     365
Belize Mainland                    365
Cayo                               365
Corozal                            365
Orange Walk                        365
Stann Creek Islands                365
Stann Creek Mainland               365
Toledo Mainland                    365

In [14]:
nbh_partial = pd.merge(nbh_price, nbh_reviews, on=['neighbourhood'])
nbh_partial

                            price  number_of_reviews
neighbourhood
Belize Islands         399.442824              22995
Belize Mainland        288.273063               4105
Cayo                   205.847525               7356
Corozal                156.553846                492
Orange Walk            122.035714                415
Stann Creek Islands   1136.166667                 69
Stann Creek Mainland   456.994690               4786
Toledo Mainland        222.978723                194

In [15]:
nbh_final = pd.merge(nbh_partial, nbh_available, on=['neighbourhood'])
nbh_final

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824              22995               365
Belize Mainland        288.273063               4105               365
Cayo                   205.847525               7356               365
Corozal                156.553846                492               365
Orange Walk            122.035714                415               365
Stann Creek Islands   1136.166667                 69               365
Stann Creek Mainland   456.994690               4786               365
Toledo Mainland        222.978723                194               365