# Warmup
Use boolean indexing to filter the titanic dataset so you only include passengers departing from southampton.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import math
import statistics

In [2]:
df = pd.read_csv('titanic.csv')
#name = df.Name.to_numpy()
#embarked = df.Embarked.to_numpy()
#boolean_titanic = df['Embarked'] == "S"
df['Name'][df['Embarked'] == "S"].head()

0                         Braund, Mr. Owen Harris
2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object

# Notes

Short refresher on stats:

Scales of measurement:
<br>
Nominal: categories that do not have a natural order. like blood type, race
<br>
Ordinal: categories where order matters but the difference is neither clear or even. satisfaction score, happiness level from 1-10
<br>
Interval: there is order and the difference between two values is meaningful. temperature, credit score, pH
<br>
Ratio: the same as interval but it has a concept of 0. no negative numbers in a ratio. concentration, kelvins, weight

Central tendency - represents the center point or "typical value" of a dataset. replace null values with the mean when the data is normally distributed. replace null values with the median when the data is skewed.

Correlation coefficient (r) is determined by slope of the graph
<br>
positive correlation: as x increases, y increases. when y increases, x increases.
<br>
negative correlation: as x increases, y decreases. when y increases, x decreases. one will go up, one goes down.

## Preprocessing data

In [3]:
df_clothes = pd.DataFrame(data = [['blue', 'S',20,'lemon shirt'],
                                 ['blue','M',50,'jeans'],
                                  ['beige','M',7,'bucket hat']])
df_clothes.columns = ['color', 'size', 'price', 'type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [4]:
#can convert categorical values to numerical
#size is ordinal so it can be easily encoded
size_map = {'S':1, 'M':2, 'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price         type
0   blue     1     20  lemon shirt
1   blue     2     50        jeans
2  beige     2      7   bucket hat

In [20]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp310-cp310-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\babab\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\babab\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp310-cp310-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.0 MB 9.6 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/11.0 MB 14.4 MB/s eta 0:00:01
   ---------------------------- ----------- 7.9/11.0 MB 14.3 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 14.6 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
#very good for nominal values
#it wants a number so it will process faster
#but the number is meaningless
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()
df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color  size  price         type  types
0   blue     1     20  lemon shirt      2
1   blue     2     50        jeans      1
2  beige     2      7   bucket hat      0

In [8]:
#one hot encoding - easiest way
#this doesnt work if you have data that is already numerical
df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

   size  price  color_beige  color_blue
0     1     20        False        True
1     2     50        False        True
2     2      7         True       False